Repository ab3k/blank_static: changes, and which lefthook commands are due for each by the changed paths.
All: eslint-check-staged, stylelint-check-staged

eslint-check-staged:
  run: node site/node_modules/.bin/eslint {staged_files}

stylelint-check-staged:
  run: node site/node_modules/.bin/stylelint {staged_files}

Add VSCode settings
  .vscode/settings.json
Due: none

Set minimum Hugo version to 0.80.0
  site/themes/blank_theme/theme.toml
Due: none

Update npm packages
  site/package-lock.json
  site/package.json
Due: none

Add postcss-custom-media
  site/package-lock.json
  site/package.json
  site/postcss.config.js
Due: eslint-check-staged

Fix (new) linting problems
  site/themes/blank_theme/assets/css/style.css
  site/themes/blank_theme/assets/css/utils.css
  site/themes/blank_theme/assets/js/main.js
Due: eslint-check-staged, stylelint-check-staged

Use postcss custom media
  site/themes/blank_theme/assets/css/images.css
  site/themes/blank_theme/assets/css/layout.css
Due: stylelint-check-staged

Run hugo build with pre-push hook
  lefthook.yml
Due: none

Rename theme and set author
  site/config.toml
  site/themes/blank_theme/theme.toml
Due: none

Update documentation
  README.md
  site/themes/blank_theme/assets/css/fonts.css
  site/themes/blank_theme/assets/css/images.css
  site/themes/blank_theme/assets/css/layout.css
  site/themes/blank_theme/assets/css/main.css
  site/themes/blank_theme/assets/css/typography.css
Due: stylelint-check-staged

Update stylelint config
  site/.stylelintrc.json
  site/stylelint.config.js
Due: eslint-check-staged

Use npx in lefthook
  lefthook.yml
Due: none

Fix VSCode config
  .devcontainer/devcontainer.json
  .vscode/tasks.json
Due: none

Using --init on container speeds up shutdowns
  .devcontainer/devcontainer.json
Due: none

Do not support WOFF anymore
  site/themes/blank_theme/assets/css/fonts.css
  site/themes/blank_theme/static/fonts/open-sans-v27-latin-300.woff
  site/themes/blank_theme/static/fonts/open-sans-v27-latin-700.woff
  site/themes/blank_theme/static/fonts/open-sans-v27-latin-700italic.woff
  site/themes/blank_theme/static/fonts/open-sans-v27-latin-italic.woff
  site/themes/blank_theme/static/fonts/open-sans-v27-latin-regular.woff
Due: stylelint-check-staged

Update README
  README.md
Due: none

VSCode: Add markdownlint extension
  .devcontainer/devcontainer.json
Due: none

Autoformat README
  README.md
Due: none

Split README between site and theme
  README.md
  site/themes/blank_theme/README.md
Due: none

Use glob for lefthook commands
  lefthook.yml
Due: none

Add prettier for HTML linting, formatting
  .devcontainer/devcontainer.json
  .vscode/settings.json
  lefthook.yml
  site/package.json
  site/prettier.config.js
Due: eslint-check-staged

Update npm packages
  site/package-lock.json
Due: none

Format HTML files
  site/themes/blank_theme/layouts/404.html
  site/themes/blank_theme/layouts/_default/baseof.html
  site/themes/blank_theme/layouts/_default/single.html
  site/themes/blank_theme/layouts/index.html
  site/themes/blank_theme/layouts/partials/head.html
  site/themes/blank_theme/layouts/partials/head_includes.html
  site/themes/blank_theme/layouts/partials/head_meta.html
  site/themes/blank_theme/layouts/partials/header.html
  site/themes/blank_theme/layouts/partials/main_menu.html
Due: none

Path conditions:
  eslint-check-staged: any of: *.js
  stylelint-check-staged: any of: *.css
